.iti__flag {
    position:relative;
    top:0px;
    right:40px;
}
.iti__arrow {
    position: relative;
    top:0px;
    right:40px;

    margin-left: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555; }
    .iti__arrow--up {
      border-top: none;
      border-bottom: 4px solid #555; }


      .iti__country-list {
        position: relative;
        top:50px;
        z-index: 2;
        list-style: none;
        text-align: left;
        padding: 0;
        margin: 0 0 0 -1px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        background-color: white;
        border: 1px solid #CCC;
        white-space: nowrap;
        max-height: 200px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; }
        .iti__country-list--dropup {
            position: relative;
            top:50px;
          bottom: 100%;
          margin-bottom: -1px; }
        @media (max-width: 500px) {
          .iti__country-list {
            white-space: normal; } }
      .iti__flag-box {
        position: relative;
        top:50px;
        display: inline-block;
        width: 20px; }
      .iti__divider {
        position: relative;
        top:50px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #CCC; }
      .iti__country {
        position: relative;
        top:50px;
        padding: 5px 10px;
        outline: none; }
      .iti__dial-code {
        color: #999; }
      .iti__country.iti__highlight {
        background-color: rgba(0, 0, 0, 0.05); }
      .iti__flag-box, .iti__country-name, .iti__dial-code {
        vertical-align: middle; }
      .iti__flag-box, .iti__country-name {
        margin-right: 6px; }
      .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
        padding-right:   6px;
        padding-left: 52px;
        margin-left: 0; }
      .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
        position: relative;
        top:100px;
        right: auto;
        left: 0; }